:root{
    --black: #0c0e18;
    --light: #d2d8f9;
    --white: #ffffff;
    --font-one: "Bellefair", serif;
    --font-two: "Barlow Condensed", sans-serif;
    --font-body: "Barlow", sans-serif;
}

/* start landing */
.landing{
    font-size: 0;
    position: relative;
    overflow: hidden;
}
.landing picture img{
    width: 100%;
    height: 100vh;
}
.landing  h4{
    color: var(--light);
    font-family: var(--font-two);
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 20%;
    text-transform: uppercase;
}
@media (max-width: 1669px) {
    .landing h4{
        left: 16%;
    }
}
@media (max-width: 1499px) {
    .landing h4{
        left: 12%;
    }
}
@media (max-width: 1399px) {
    .landing h4{
        left: 9%;
    }
}
@media (max-width: 1299px) {
    .landing h4{
        left: 6%;
    }
}
@media (max-width: 991px) {
    .landing h4{
        margin-top: -5%;
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .landing h4{
        font-size: 19px;
        left: 22%;
        top: 17%;
    }
}
.landing h4 span{
    color: rgb(255, 255, 255, 20%);
    font-weight: bold;
    margin-right: 18px;
}
.landing .container{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 30px */
}
@media (max-width: 1199px) {
    .landing .container{
        top: 20%;
    }
}
@media (max-width: 991px) {
    .landing .container{
        top: 23.5%;
        flex-direction: column;
        gap: 40px;
    }
}
@media (max-width: 767px) {
    .landing .container{
        flex-direction: column-reverse;
        gap: 20px;
    }
}
.landing .container .box{
    width: 49%;
}
@media (max-width: 991px) {
    .landing .container .box{
        width: 100%;
    }
}
@media (max-width: 767px) {
    .landing .container .box{
        width: 200%;
    }
    .landing .container .box.data{
        padding-top: 70px;
        position: relative;
    }
}
.landing .container .box .role,
.landing .container .box .name{
    font-family: var(--font-one);
    color: var(--white);
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.landing .container .box .role{
    font-size: 30px;
    margin-bottom: 20px;
}
.landing .container .box .name{
    font-size: 50px;
    margin-bottom: 40px;
}
@media (max-width: 991px) {
    .landing .container .box .role,
    .landing .container .box .name{
        text-align: center;
    }
    .landing .container .box .role{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .landing .container .box .name{
        font-size: 40px;
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .landing .container .box .role{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .landing .container .box .name{
        font-size: 28px;
        margin-bottom: 10px;
    }
}
.landing .container .box p{
    font-family: var(--font-body);
    color: var(--light);
    font-size: 18px;
    line-height: 1.7;
    width: 90%;
}
@media (max-width: 991px) {
    .landing .container .box p{
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
        width: 60%;
    }
}
@media (max-width: 767px) {
    .landing .container .box p{
        font-size: 15px;
        width: 90%;
    }
}
.landing .container .box ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 30%;
}
@media (max-width: 991px) {
    .landing .container .box ul{
        margin-top: 5%;
        justify-content: center;
    }
}
@media (max-width: 767px) {
    .landing .container .box ul{
        position: absolute;
        top: 0;
        left: 34%;
    }
}
.landing .container .box ul li{
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255, 20%);
    border-radius: 50%;
    cursor: pointer;
}
.landing .container .box ul li.active{
    background-color: var(--white);
    width: 20px;
    height: 20px;
}

.landing .container .box picture{
    position: relative;
}
.landing .container .box picture img{
    width: 100%;
    height: 100%;
    padding-top: 10%;
}
@media (max-width: 1199px) {
    .landing .container .box picture img{
        padding-top: 121px;
    }
}
@media (max-width: 991px) {
    .landing .container .box picture img{
        padding-top: 0px;
        width: 50%;
        height: 50%;
        display: block;
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .landing .container .box picture img{
        padding-top: 0px;
        width: 60%;
        height: 60%;
        display: block;
        margin: 0 auto;
    }
    .landing .container .box picture::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(255, 255, 255, 20%);
    }
}
/* end landing */